/*----------------------------*/
// @file    : variables.scss
// @date    : Janvier 2019
// @creator : Daniel HAMMAMI
/*----------------------------*/

/*
/ media queries
*/

$mobile: 480px;
$tablet-less: 767px;
$tablet: 768px;
$tablet-inter: 992px;
$tablet-less-landscape: 1023px;
$tablet-landscape: 1024px;
$desktop-less: 1169px;
$desktop: 1170px;
$desktop-less-large: 1439px;
$desktop-large: 1440px;

/*
* Colors
*/

$white: #FFFFFF;
$black: #000000;